.App {
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  margin-bottom: 64px;
}

.App-header nav {
  display: flex;
  justify-content: flex-end;
}

.App-header nav > a {
  margin-left: 16px;
  text-decoration: none;
}

.App-header nav > a:hover {
  text-decoration: underline;
}

.App-footer {
  padding: 24px 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.ArtObject {
  border-top: 4px double #ccc;
  padding: 48px 0px;
}
