.App {
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  margin-bottom: 64px;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.ArtObject {
  border-top: 4px double #ccc;
  padding: 48px 0px;
}
